body{
    font-family: cursive;
    margin: 0;
}

#categories{
    position: absolute;
    z-index: 1;
    background-color: lightgray;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

#category-buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2{
    font-size: 3em;
    margin: 10px;
}

.category{
    font-family: cursive;
    font-size: 2em;
}

#word{
    text-align: center;
    padding: 10px;
    font-size: calc(4rem + 2vw);
    background-color: whitesmoke;
}

#game-buttons{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: solid darkgrey 2px;
}

#game-buttons button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    width: 30%;
}

#pass{
    background-color: gold;
}

#get{
    background-color: greenyellow;
}
